.container {
  padding: 4rem;
  background: white;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
  /* -webkit-text-stroke: 8px black;
  paint-order: stroke fill;
  text-shadow: 2px 2px 0px black; */
}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 3rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contributorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
  justify-content: center;
}

.contributorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
  transition: transform 0.2s;
}

.avatar:hover {
  transform: scale(1.1);
}

.name {
  font-weight: 600;
  color: #000;
}
.name:hover {
  text-decoration: underline;
}

.githubButton {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid #000;
  background: #6eea29;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  filter: drop-shadow(4px 6px 0px #000);
  text-decoration: none;
  transition: transform 0.2s;
}

.githubButton:hover {
  transform: translateY(-2px);
  background: #5ed220;
}

@media (max-width: 768px) {
  .contributorGrid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
